<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Neon Flux</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="container">
  <div class="neon">JEX </div>
  <div class="flux">connect </div>
</div>
  
  
</body>
</html>

