<div class="container">
  <div class="neon">JEX </div>
   <%= link_to "connect", posts_path, class: "flux" %> 
</div>

<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "alert" %> 
  
  


