  <%= render "shared/navbar" %>
  <%= stylesheet_link_tag "landing_page" %>

  <div class="card">
      <img src=https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg class="profile-img" style="width:4.5em; height:4.5em" />

   <!--  <div class="profile-text">
      
    </div>  -->
  </div>
