  <%= render "shared/navbar" %>
  <%= stylesheet_link_tag "landing_page" %>

  
  <div class="card">
    <div class="profile-img">
      <img src=https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg class="profile-img" style="width:4.5em; height:4.5em" />
    </div>
    
    <div class="row">
      <form class="col s12">
          <div class="input-field col s12 block">
          <textarea id="textbox" class="materialize-textarea" placeholder="Say something"></textarea>
            
          </div>
      </form>
    </div>
    

    <div class="boom">
      <button class="btn waves-effect waves-light" type="submit" name="action">Post
        <i class="material-icons right">send</i>
      </button>
    </div>
    <div class="commentsblock">
  </div> 

  

        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            $("#textbox").val('');
            $("#textbox").keypress(function () {
                var textLength = $("#textbox").val().length;
                if (textLength % 50 == 0) {
                    var height = textLength / 50;
                    $("#textbox").css('height', 20 + (height * 20));
                }
            });
            $('#textbox').keydown(function (e) {
                if (e.keyCode == 13) {
                    var msg = $(this).val();
                    if (msg == "") {
                        alert('full the message');
                    }
                    else {

                        $(".commentsblock").append(
                        "<div class='comments'><div class='imageicons divfloat'><img src='https://cdn1.iconfinder.com/data/icons/black-easy/32/538647-user_32x32.png' /></div><div class='commentinfo divfloat'>" + msg + "</div></div>"
                        ).fadeIn('slow');
                        $("#textbox").val("");
                    }
                }
            })
        });
    </script>
  



