  <%= render "shared/navbar" %>
  <%= stylesheet_link_tag "landing_page" %>

  

<div class="card">
  <img src=https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg class="profile-img">
    <div class="profile-text">
    <%= time_dif current_user %>
      <h1 class="profile-name">Jonathan Doe</h1>
      <span class="profile-title">UX / UI Designer</span>
    </div>
  
</div>