@import "materialize";

@import url(https://fonts.googleapis.com/css?family=Lato:300);

.card {
  max-width: 30em;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  padding: 2em;
  background-color: rgb(17, 17, 17);
  color: #444;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.profile-img {
  
  display: block;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  display: block;
  height: 7em;
  margin-top: -65px;
  border-radius: 100%;
  
}

.profile-text {
  margin-top: -10em;
  padding: 5em 1.5em 1.5em 1.5em; 
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)

}

.profile-name{
  margin-right: -1em;
  margin-bottom: .75em;
  margin-left: -1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: .75em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.profile-title {
  color: #ccc;
}

.nav-wrapper {
  background-color: black;
}

.jexlogo {
  font-size: 30px;
  margin-left: 20px;
  margin-top: -60px;
}

.profile-title {
  color: rgb(116, 116, 117);
}

@media (max-width: 850px) {
  body:after {
    column-count: 1;
  }
}

@media (max-width: 550px) {
  body {
    width: 92%;
    margin-left: 16px;
  }
}

.edit-button {
  color: black;
}

textarea {
  color: white;
  outline: none;
  background-color: black;
  margin-top: -27px;

}

.boom {
  margin-top: 18px;
}

.block
        {
            width: 450px;
            float: left;
            border: 1px solid white;
        }
        
        .comments
        {
            width: 400px;
            float: left;
            border: 1px solid white;
            min-height: 40px;
        }
        .commentsblock
        {    
            margin-top: 25px;
            width: 400px;
            float: left;
            border: 1px solid white;
        }
        .commentbox
        {
            overflow-y: hidden;
            height: 20px;
            width: 400px;
        }
        .divfloat
        {
            float: left;
        }
        .imageicons
        {
            height: 40px;
            width: 42px;
        }
        .commentinfo
        {
            background: black;
            color: white;
            word-wrap: break-word;
            width: 352px;
        }