@import "materialize";

@import url(https://fonts.googleapis.com/css?family=Lato:300);

.card {
  margin-top: 100px;
  margin-left: 10px;
  max-width: 30em;
  background-color: #eee;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 1.5em;
  margin-top: -10px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;

}

.x {
  margin-right: -20px;
  margin-top: -22px;
}

.card-title {
  a:hover { 
    color: #26a69a;
 } 
}

.card-backend {
  max-width: 30em;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
  padding: 2em;
  background-color: #eee;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  flex-direction: column;
}

.card-jft {
  margin-left: 2px;
  max-width: 30em;
  background-color: #eee;
  text-align: center;
}

.arealocation {
  font-size: 14px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: -45px;
  text-decoration: underline;
    }

.profile-img {
  
  z-index: 100;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -70px;
  height: 6em;
  width: 6em;
  border-radius: 100%;
  image-rendering: pixelated;
  image-rendering: auto;
  image-rendering: crisp-edges;
  object-fit: cover;
  
}

.profile-text {
  margin-top: -10em;
  padding: 5em 1.5em 1.5em 1.5em; 
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)

}

.profile-name{
  margin-right: -1em;
  margin-bottom: .75em;
  margin-left: -1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: .75em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.profile-title {
  color: #ccc;
}

.nav-wrapper {
  background-color: black;
}

.jexlogo {
  font-size: 30px;
  margin-left: 20px;
  margin-top: -60px;
}

.profile-title {
  color: rgb(116, 116, 117);
}

@media (max-width: 850px) {
  body:after {
    column-count: 1;
  }
}

@media (max-width: 550px) {
  body {
    width: 98%;
    margin-left: 4px;
  }
}
.profile-img-comment {
  height: 3em;
  width: 3em;
  position: absolute;
  border-radius: 100%;
  image-rendering: pixelated;
  image-rendering: auto;
  image-rendering: crisp-edges;
  object-fit: cover;
  margin-left: -2px;
  margin-top: -4px;
}

p {
  margin-top: -30px;
}

.comment-name {
      font-size: 14px;
      margin-left: 50px;
      margin-top: -30px;
      
      &:first-of-type {
        &:hover {
          text-decoration: underline;
        }
        cursor: pointer;
        font-weight: bold;
        color: #000000;
      }
      }

hr {
  margin-top: 25px;
}


.comment {
  border: none;
  padding: 38px;
  padding-left: 5px;
  box-sizing: border-box;
  width: 100%;
  color: black;
  background-color: #eee;
  text-align: left;
  width: 100%;
  font-family: 'Asap', sans-serif;
  overflow-wrap: break-word;
  margin-top: 20px;
}

.comment-start {
  margin-top: 35px;
}

.utils {
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: black;
  background-color: white;
  cursor: pointer;
  margin: 1px;
  margin-bottom: -55px;
  background-color: #eee;
}

textarea{
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border-color: white;
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  font-family: 'Asap', sans-serif;
}

.btn {
  margin-top: 15px;
}