@import "materialize";
 
 #search {
  width: 300px;
  margin-right: 85px;
  margin-top: 10px;
  color: white;
  border-bottom: 70px;
  padding-top: 0px;
  position: center;
}

::placeholder {
  color: white;
  opacity: .2;
}

a:hover { 
    color: #26a69a;
}