@import "materialize";
 
.nav-wrapper {
  background-color: black;
}

 #search {
  width: 300px;
  margin-top: 5px;
  color: white;
  border-style: none;
  padding-top: 0px;
  position: center;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 1px 0 0 black;
  -moz-box-shadow: 0 1px 0 0 black;
  box-shadow: 0 1px 0 0 black;
  justify-content: space-between
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
}


::placeholder {
  color: white;
  opacity: .2;
}

a:hover { 
    color: #26a69a;
}

.nav-wrapper{
  margin-top: -20px;
}

.connecticon {
  margin-top: 17px
}

