@import "materialize";

@import url(https://fonts.googleapis.com/css?family=Lato:300);

.card {
  max-width: 30em;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 2em;
  background-color: rgb(17, 17, 17);
  color: #444;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.profile-img {
  z-index: 100;
  display: block;
  height: 7em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  height: 4.5em;
  width: 4.5em;
  border-radius: 100%;
  
}

.cleandate {
  color: darkgrey;
  margin-top: -15px;
  font-family: 'Rasa', serif;
  font-size: 1.1em;
}

.profile-text {
  height: 100px;
  margin-top: -2.5em;
  padding: 4em 1.5em 1.5em 1.5em; 
  background-color: black;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)

}

.profile-name{
  margin-bottom: -17px;
}

.nav-wrapper {
  background-color: black;
}

.jexlogo {
  font-size: 30px;
  margin-left: 20px;
  margin-top: -60px;
}

.profile-title {
  color: grey;
  margin-bottom: -100px;
}

@media (max-width: 850px) {
  body:after {
    column-count: 1;
  }
}

@media (max-width: 550px) {
  body {
    width: 92%;
    margin-left: 16px;
  }
}

.edit-button {
    margin-top: -25px;
    color: darkgrey;
}

