@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import "materialize";
html,
body {
  margin: 0;
}



@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.newbster {
  text-align: center;
}

.field {
  color: white;
  margin: auto;
  margin-top: 15px;
  width: 200px;
}

.input-field {
  text-align: center;
  margin-top: -30px;
}

.card {
  margin: auto;
  margin-top: 35px;
  margin-bottom: auto;
  width: 60%;
  
  background-color: black;
  border-radius: 2px;
  border: 2px solid white;
  animation: bounceInDown 1s;
}

@media (max-width: 1000px) {
  body:after {
    column-count: 1;
  }
}

@media (max-width: 780px) {
  body {
    width: 640px;
    margin-left: -120px;
    margin-top: -1px;
    
  }
}


.purpose {
  display: flex;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: black;
  padding: 1em;
  font-size: 18px;
  text-align: center;
  white-space: pre-wrap;
  color: white;
}

.btn {
  margin-bottom: 10px;
}


